art==6.3
attrs==22.2.0
beautifulsoup4==4.9.3
blessed==1.19.1
certifi==2022.12.7
chardet==4.0.0
dnslib==0.9.23
exceptiongroup==1.1.0
flake8==6.0.0
google==3.0.0
idna==2.10
iniconfig==2.0.0
inquirer==3.1.2
lxml==4.9.2
markdown-it-py==2.2.0
mccabe==0.7.0
mdurl==0.1.2
packaging==23.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pytest==7.2.1
python-editor==1.0.4
pyuseragents==1.0.5
readchar==4.0.3
requests==2.25.1
rich==13.3.3
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
urllib3==1.26.14
wcwidth==0.2.6